.number-warp {
    border: black 1px solid;
    width: 500px;
    height: 300px;
    margin: 0 auto 0 auto;
    padding: 10px;
    // .number-title {

    // }
    .number-console {
        .number-console-btn {
            margin: 0 5px 0 5px;
        }
    }
}